application/Database_config.php
application/Config.php
public/images/productos/50x50
public/images/productos/70x70
public/images/productos/150x150
public/images/productos/232x232
public/images/productos/472x472
public/images/productos/944x944
resources
