application/Database_config.php
application/Config.php
public/images/
public/images/all
public/images/bank-images
public/images/productos/50x50
public/images/productos/70x70
public/images/productos/150x150
public/images/productos/232x232
public/images/productos/472x472
public/images/productos/944x944
public/images/products/
public/images/productos/
public/images/productos/banners/1200x400
/libs_external/tcpdf/examples
logs/error.txt
resources
.idea
*.txt
.well-known
*.xml
