
/*
__________ Barra-infrmacion __________
*/
.barra-informacion
{
	   display: block;
	   background: #003e90;
	   height: 50px;
	   margin: 0px auto;
	   -webkit-border-radius: 8px;
	   -moz-border-radius:8px;
	   border-radius: 8px;
	   padding-top: 5px;
	   text-align: center;
	   margin-bottom: 20px;
}

.cont-bar-menu
{
	  display: inline-block;
}

.link-barra-menu
{
    display: block;
    padding: 10px 20px;
    text-align: center;
    color: white;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}

.link-barra-menu:hover
{
    color: white;
    background: #0469ed;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
}
