.cont-info-pagina
{
	    width: 95%;
	    margin: 0px auto;
}

/* Cont-Mensaje */
.cont-mensaje
{
	    width: 40%;
	    margin: 0px auto;
	    padding:  20px;
	    font-size: 14px;

     -webkit-border-radius: 4px;
     -moz-border-radius   : 4px;
     -ms-border-radius    : 4px;
     -o-border-radius     : 4px;
     border-radius        : 4px;


	    -webkit-box-shadow: 0px 2px 5px #000000;
	    -moz-box-shadow: 0px 2px 5px #000000;
	    box-shadow: 0px 2px 5px #000000;
}
