
.vista-cambiar-password
{
			display:  block;
			margin : 0px auto;
			padding: 20px;
			width  : 40%;

			-webkit-box-shadow: 0px 5px 30px 0px #545454;
			box-shadow: 0px 5px 30px 0px #545454;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			-ms-border-radius: 8px;
			-o-border-radius: 8px;
			border-radius: 8px;
}

.titulo
{
	  color: #003e90;
}

.text-label
{
	  color: #003e90;
}

.conten-btn-guardar
{
	  text-align: center;
}

 /* Tooltip = Input-Codigo */
  .cuerpo_ventana_modal_codigo
  {
    position  :  absolute;
    background: #003E90;
    opacity   :0.9;
    width     : 245px;
    z-index   : 1000;
    top       : 165px;
    left      : 520px;
    padding   : 5px 10px;
    box-sizing: border-box ;
    color     : #fff;
    display   : none;
    font-size :12px;
    border    :1px solid #fff;


   /* Sombra */
   -webkit-box-shadow: 0px 1px 3px #000000;
   -moz-box-shadow   : 0px 1px 3px #000000;
   box-shadow        : 0px 1px 3px #000000;
  }

.pasos_contrasena_segura
{
	    display: block;
	    width: 80%;
	    margin: 0px auto;
}
