 .contenedor_pagina
{
     width: 95%;
     margin: 0px auto;
}

.cont_pagina_registro
{
    display: block;
    width: 75%;
    margin: 0px auto;
    background: white;
    padding: 20px;

   -webkit-border-radius: 4px;
   -moz-border-radius   : 4px;
   -ms-border-radius    : 4px;
   -o-border-radius     : 4px;
   border-radius        : 4px;

   -webkit-box-shadow: 0px 8px 16px 0px #000000;
    box-shadow: 0px 8px 16px 0px #000000;
}

/* Diseño => lista => pasos */

#li_paso_1
{
     background: #003E90;
     color: white;
}

.cont-list-pasos
{
      display: block;
      text-align: center;
}

.li_pasos_registro
{
      display: inline-block;
      padding: 5px 10px;
      text-align: center;
      list-style: none;
      font-weight: bold;
      color: gray;

      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
}

/* diseño paso 1 */

.input_campo_datos
{
   text-transform: uppercase;
}

/*Campos Ocultos.campos-cedu-ciudadana ,*/

.campos-nit
{
   display:  none;
}

/*Boton Continuar , Anterior*/

.cont-btn-bottom
{
     text-align: center;
     display: block;
     width: 20%;
     margin: 0px auto;
}

.cont-btn-continuar
{
    width: 15%;
    display: block;
}

.btn-continuar
{
       background: #003e90;
       color:white;
}

.btn-continuar:hover
{
    color: white;
   background: #0469ed;
}

/* Boton Continuar , anterior*/

#tipo-document
{
    width: 150px;
}

.text-label
{
    color: #003e90;
    float: left;
}

.label-nuemero-nit
{
     padding-left: 0px;
}

.seleccion-genero
{
    margin-top: 52px;
}

/* Paso 3 */

.titulo_del_plan
{
    color: #0469ed;
    display: block;
    margin-left: 100px;
}

.cont-plan
{
      width: 50%;
      margin: -10px auto;
}

/* Ocultar plan seleccionado */
.plan_1{ display: block;}
.plan_2{ display: none;}
.plan_3{ display: none;}


