
.vista-cambiar-password
{
			display:  block;
			margin : 0px auto;
			padding: 20px;
			width  : 40%;
			-webkit-box-shadow: 0px 5px 30px 0px #545454;
			box-shadow: 0px 5px 30px 0px #545454;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			-ms-border-radius: 8px;
			-o-border-radius: 8px;
			border-radius: 8px;
}

.titulo
{
	  color: #003e90;
}

.text-label
{
	  color: #003e90;
}

.conten-btn-guardar
{
	  text-align: center;
}


