#contenido
{
	margin       : 0px;
	width        : 95%;
}



/* IMG-PRODUCTO */

#gallery_01 .active img
{
	  border: 2px solid #ccc !important;
}

#gallery_01 img
{
			border: 2px solid #eee !important;/* #eee  #ccc*/
			height: 100%;
}

#img_01
{
	  border: 3px solid purple;
}

.img-responsive , #gallery_01/*.img-responsive = IMAGEN DEL PRODUCTO*/
{
	  margin: 0px auto;
}

#gallery_01
{
			margin-top: 10px;
			text-align: center;

}

/* FIN-IMG PRODUCTO */

/*INFORMACION DE PRODUCTO*/

#titulo
{
			border-bottom: 2px solid #003e90;
			color        : #003e90;
			display      : block;
			margin       : 10px 50px;
}

.subtitulo
{
			color: #003e90;
}

.div-contenido
{
	  border-bottom: 1px solid #eeeeee;
}

/*FIN-INFORMACION DE PRODUCTO*/

.recomendar_amigo ,
.compartir_en_redes_sociales ,
.contenedor_agregar_favorito
{
	 margin-bottom: 10px;
}


.recomendar_amigo
{
	  cursor: pointer;
}

/* Comprartir en redes sociales */
.compartir_en_redes_sociales
{
   display: block;
   margin-top: 15px;
   width: 100%;
   overflow: hidden;
}

.compartir_en
{
   float: left;
   margin-right: 20px;
   margin-left: 0;
   color: #003E90;

}

.img_compartir_face
{
	width: 25px;
	height: 25px;
	display: block;
	float: left;
	margin-right: 10px;
}

/*INICIO-IMG => COMISIONES PP , OFERTAS , TECNOLOGIAS APLICADAS ,*/
.pertenece_grupo
{
   color: #003E90;
   float: left;
   margin-right: 10px;
   margin-top:3px;
/*   margin-top: 30px;*/
}

.contenedor_agregar_favorito
{
   display: block;
   width: 100%;
}


.imagen_grupo_producto
{
				background : url('../images/productos/23.png') center center no-repeat;
				color      : white;
				cursor     : pointer;
				display    : block;
				float      : none;
				font-size  : 24px;
				height     : 60px;
				text-align : center;
				text-shadow: 1px 1px 3px #000000;
				width      : 64px;
}

.imagen_tecnoaplicadas_producto
{
				color      : white;
				cursor     : pointer;
				display    : block;
				height     : 60px;
				text-align : center;
				width      : 64px;
}

.img-Producto_fabricado_por_Tecnologías
{
				margin-top: -15px;
				width     : 100%;
				margin-top: -55px;
}

.imagen_en_oferta
{
				color      : white;
				cursor     : pointer;
				display    : block;
				font-size  : 24px;
				height     : 60px;
				text-align : center;
				text-shadow: 1px 1px 3px #000000;
				width      : 64px;
}

.img_Producto_en_Oferta
{
	    width      : 100%;
}

/*FIN-IMG => COMISIONES PP , OFERTAS , TECNOLOGIAS APLICADAS ,*/

/* TABLA */

th , td
{
  		text-align: center;
}

/*FIN TABLA */


/*INICIO TABS*/

.gene-tabs
{
	
}

.tab-content
{
				display      : block;

}
/*FINA TABS*/


/* Diseño de las notificaciones */
.contenedor_notificaciones{
	 display: none;
	 position: fixed;
	 bottom: 0px;
	 right: 20px;
	 width: 400px;
	 z-index: 5000;
}

/* Diseño de las notificaciones */
.contenedor_notificaciones_no_logueado{
	 display: none;
	 position: fixed;
	 bottom: 0px;
	 right: 20px;
	 width: 400px;
	 z-index: 5000;
}

/* Diseño de las notificaciones */
.contenedor_notificaciones_empresario{
	 display: none;
	 position: fixed;
	 bottom: 0px;
	 right: 20px;
	 width: 400px;
	 z-index: 5000;
}
.contenedor_notificaciones_cliente_ocasional{
	 display: none;
	 position: fixed;
	 bottom: 0px;
	 right: 20px;
	 width: 500px;
	 z-index: 5000;
}

.img_llamar_atencion{
	 font-size: 45px;
	 display: block;
	 margin-top: 10px;
}

.alert_notificaciones
{
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}































