/* contendor principal*/
.contenedor_error_404
{
				display    : block;
				margin     : 0px auto;
				padding-top: 150px;
				width      : 95%;
}

/*  pagina */

.titulo_error
{
	       color: #FF0102;
}

.pagina_error_404
{
	   text-align: center;

}
