.campo_2
{
     background: #0469ED;
     -webkit-border-radius: 8px ;
     -moz-border-radius: 8px ;
     border-radius: 8px ;
}

/* Efecto =  indica en el menu-tron que
   se encuentra en " OTROS PRODUCTOS "
*/
