

#destacados ,
#ofertas ,
#novedades
{
			border-bottom: 2px solid #003e90;
			color        : #003e90;
			display      : block;
			width: 100%;
}

.productos-center
{
   width:95%;
   margin:0px auto;
   color: red;
}
