
/*IMAGENES DE => PLAN , CLENTE , EMPRESARIO => TRON*/

.priceTRONProd
{

				color        : #608A17;
				font-size    : 20px;
				font-weight  : 700;
				height       : 20px;
				margin-bottom:;
				margin-top   :;
				padding      : 0;
				width        : auto;
}

.tipee2
{
				cursor       : pointer;
				display      : block;
				display      : inline-block;
				height       : 18px;
				margin-bottom: -2px;
				width        : 18px;
}

.tipee3
{
				cursor       : pointer;
				display      : block;
				display      : inline-block;
				margin-bottom: -2px;
				width        : 18px;
 }

/*IMAGENES DE => PLAN , CLENTE , EMPRESARIO => TRON*/

/*INICIO BOTONES DE + Y -*/

#cont-menos button ,
#cont-digitos input ,
#cont-mas button
{
					border    : 1px solid  #CCCCCC;
					cursor    : pointer;
					display   : block;
					float     : left;
					font-size : 12px;
					padding   : 0px;
					text-align: center;
					width     : 25px;
					height    : 25px;
					margin:0px 4px;
}

.costos-cantidad
{
					margin   : 0px auto;
					max-width: 100px;
					min-width: 100px;
					width    : 30%;
}

/*FIN BOTONES DE + Y -*/


/* ===== INICIO BOTON DE AGREGAR =====*/

.btn-agregar-carrito span img
{
				height        :20px;
				vertical-align: center;
}

.agregar
{
    background: #003E90;
   	color     : white;
	padding   : 5px;
   	width     : 100px;
				color     : white;
				margin-bottom:10px;
				margin-top:-10px;
				border:2px solid #003E90;
				height:33px;
}

.agregar:hover
{
	  border:2px solid #069;
	  background: #069;
  	color     : white;
}

.agregar:active
{
			border:2px solid #003E90;
   background: #003E90;
   color     : white;

}

.btn-agregar-carrito span #agr-car
{
    height        : 20px;
				vertical-align: center;
}

/*FIN BOTON DE AGREGAR*/

