
/*  Los Estilos de las felchas se encuentran en CSS => tron_carrito_flechas_up.css  */
.contenido-productos
{
     width:  90%;
     margin: 0px auto;
}

.line_tiempo
{
    height: 55px;
     width: 1000px;
}

.titulo
{
    color: #003e90;
}

/*
________ Efecto Activo  _______

*/

#active1 /* identificador = paso en el que se encuentra el usuario */
{
   color: #003e90;
   font-size: 16px;
   font-weight: bold;
}

#active1::before
{
   border: 4px solid #003e90;
}

/*
______ diseño-Tabla _____

 */

table
{
     border-bottom: 2px solid #dddddd;
}

.cabezera-tabla
{
   border: 2px solid #dddddd;
   font-size: 98%;
}

.info-tabla /* Informacion = tarro-eliminar , percios , nombre-producto */
{
    display   : block;
    margin-top: 13px;
}


.fila:hover /* color = gris de cada fila */
{
    background: #e5e5e5;
}

.img-producto
{
    display: block;
    width  : 70%;
    margin: 2px auto;
}

.img-eliminar
{
    cursor: pointer;
}

/*
____ Diseño-titulos x columnas ____

 */

.titulo-tron /* Precio = Cliente TRon */
{
    background: #9bd2f2;
}

/*
_____ Diseño x columnas ______

*/

.col-tabla-eliminar /* columan-leminar-producto */
{
    width: 3%;
    display: block;
    text-align: center;
}

.col-tabla-img-proct  /* IMG = Producto */
{
    width: 7%;
    display: block;
    text-align: center;
}

.col-nombre-product  /* Nombre = Prducto */
{
    width: 30%;
    display: block;
    text-align: left;

}

.presentacion-producto
{
    width: 100%;
    display: block;
}

.col-tabla-cantidad  /* Cantidad */
{
     width: 10%;
     display: block;
     text-align: center;
}

.col-tabla-preci1  /* Precio = Unit */
{
    width: 10%;
    display: block;
    text-align: right;
}

.col-tabla-preci2  /* Precio = TRON */
{
     width: 10%;
     display: block;
     text-align: right;
     background: #9bd2f2;
}

/*
____ Diseño section pedido ______

*/

.btn-cupon
{
    margin-top           : -32px;
    background           : #003e90;
    color                : white;
    padding              : 6px 10px;
    border               : none;
    display              : block;
    float                : right;

    -webkit-border-radius: 4px;
    -moz-border-radius   : 4px;
    border-radius        : 4px;
}

.btn-cupon:link
{
    margin-top: -55px;
    background: #003e90;
    color     : white;
}


.btn-cupon:hover
{
    background: #0469ed;
    color     : white;
}

.btn-cupon:active
{
    background: #003e90;
    color     : white;
}
.label-cupon
{
    width     : 200px;
    float     : left;
    text-align: left;
    margin-top: 7px;
}

.input-cupon
{
    display: block;
    width  : 200px;
}

.cont-cupon
{
    display : block;
    width   : 38%;
    position: absolute;
    padding : 0px;
    bottom  : 25px;
    height  : 38px;
}

.col-resumen-pedido , .text-label
{
    color: #003e90;
}


/*
______ Botones ________

*/

.cont-boton
{
    display: block;
    text-align: center;
}

.btn-seguir-comprando ,
.btn-finalizar-pedido ,
.btn-forma-pago-pedido
{
      -moz-box-shadow      : inset 0px 1px 0px 0px #f7c5c0;
      -webkit-box-shadow   : inset 0px 1px 0px 0px #f7c5c0;
      box-shadow           : inset 0px 1px 0px 0px #f7c5c0;
      background           : -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
      background           : -moz-linear-gradient(top, #fc8d83 5%, #e4685d100%);
      background           : -webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
      background           : -o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
      background           : -ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
      background           : linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
      filter               : progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
      background-color     : #fc8d83;
      -moz-border-radius   : 6px;
      -webkit-border-radius: 6px;
      border-radius        : 6px;
      border               : 1px solid #d83526;
      color                : #ffffff;
      font-size            : 15px;
      font-weight          : bold;
      padding              : 6px 24px;
      text-decoration      : none;
      text-shadow          : 0px 1px 0px #b23e35;
      cursor               : pointer;
}
.btn-seguir-comprando:hover,
.btn-finalizar-pedido:hover,
.btn-forma-pago-pedido:hover
{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
    background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
    background-color:#e4685d;
}

.btn-finalizar-pedido:active,
.btn-forma-pago-pedido:active,
.btn-seguir-comprando:active
{
    position:relative;
    top:1px;
}


