
.contenedor
{
				margin: 0px auto;
				width : 95%;
}

.cont-formulario
{
				display: block;
				margin : 0px auto;
				width  : 60%;
}

/*
________ Efecto Activo  _______

*/



/*
________ Mensaje de validacion __________

*/

.msj-validacion-E-mail,
.msj-validacion-contrasena ,
.msj-validacion-cedu-amigo ,
.msj-validacion-amigo
{
				background: #ffeded;
				color     : black;
				display   : none;
				text-align: center;
}


/*
__________ Titulo _________

*/

.cont-titulo
{
			display      :  block;
			margin-bottom: 30px;
}
.titulo
{
	  color: #003e90;
}

/*
________ Text-label  __________

*/

.text-label
{
	  color: #003e90;
}

/*
______ cuerpo-pagina  _______

*/

.cuerpo-pagina
{
			margin: 0px auto;
			width : 85%;
}

/*
_________ Formulario ___________

*/

.ing-mi-cuenta /* Ingresar con mi cuenta = ventana modal */
{
	 color: #333333;
	 font-weight: bold;
}

.ing-mi-cuenta:hover /* Ingresar con mi cuenta = ventana modal */
{
	 color: #333333;
	 font-weight: bold;
	 text-decoration: none;
}

.formulario
{
				display: block;
				margin : 0px auto;
				width  : 80%;
}

.cont-seleccion-ident
{
				display   : block;
				margin    : 0px auto;
				text-align: center;
				width     : 90%;
}

.seleccion-indt-label
{
     margin-left: 5px;
}

.cont-registrar ,
.cont-ingresar  ,
.cont-pedido-amigo
{
				display    : inline-block;
				margin-left: 20px;
}



/*
_______ Boton validar ________

*/

.cont-btn-validar
{
				display   : block;
				text-align: center;
}

.btn-validar
{
	   /* IE9 SVG, needs conditional override of 'filter' to 'none' */
	   background: #ea5b57; /* Old browsers */
	   background: -moz-linear-gradient(top,  #ea5b57 0%, #be3730 100%); /* FF3.6+ */
	   background: -ms-linear-gradient(top,  #ea5b57 0%,#be3730 100%); /* IE10+ */
	   background: -o-linear-gradient(top,  #ea5b57 0%,#be3730 100%); /* Opera 11.10+ */
   	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ea5b57), color-stop(100%,#be3730)); /* Chrome,Safari4+ */
   	background: -webkit-linear-gradient(top,  #ea5b57 0%,#be3730 100%); /* Chrome10+,Safari5.1+ */
   	background: linear-gradient(to bottom,  #ea5b57 0%,#be3730 100%); /* W3C */
   	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhNWI1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZTM3MzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
   	color     : white;
	    filter    : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea5b57', endColorstr='#be3730',GradientType=0 ); /* IE6-8 */
				border       :2px solid #da4e48;
				color        : white;
				height       :33px;
				margin-bottom:10px;
				margin-top   :-10px;
				padding      : 5px;
				width        : 100px;
}

.btn-validar:hover
{
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: #be3730; /* Old browsers */
	background: -moz-linear-gradient(top,  #be3730 0%, #ea5b57 100%); /* FF3.6+ */
	background: -ms-linear-gradient(top,  #be3730 0%,#ea5b57 100%); /* IE10+ */
	background: -o-linear-gradient(top,  #be3730 0%,#ea5b57 100%); /* Opera 11.10+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#be3730), color-stop(100%,#ea5b57)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #be3730 0%,#ea5b57 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #be3730 0%,#ea5b57 100%); /* W3C */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JlMzczMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYTViNTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	color     : white;
	filter    : progid:DXImageTransform.Microsoft.gradient( startColorstr='#be3730', endColorstr='#ea5b57',GradientType=0 ); /* IE6-8 */
}

.btn-validar:active
{
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: #be3730; /* Old browsers */
	background: -moz-linear-gradient(top,  #be3730 0%, #ea5b57 100%); /* FF3.6+ */
	background: -ms-linear-gradient(top,  #be3730 0%,#ea5b57 100%); /* IE10+ */
	background: -o-linear-gradient(top,  #be3730 0%,#ea5b57 100%); /* Opera 11.10+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#be3730), color-stop(100%,#ea5b57)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #be3730 0%,#ea5b57 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #be3730 0%,#ea5b57 100%); /* W3C */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JlMzczMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYTViNTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	color     : white;
	filter    : progid:DXImageTransform.Microsoft.gradient( startColorstr='#be3730', endColorstr='#ea5b57',GradientType=0 ); /* IE6-8 */
}

/*
_________ Pedido a un amigo ________

*/

.pedido-amigo
{
				display   : none;
				margin-top: 20px;
}

/*
_______ Ingresar por amigo ________

*/

.cont-btn-ing-amigo
{
					display   : block;
					text-align: center;
}

.btn-ing-por-amigo
{
      -moz-box-shadow      : inset 0px 1px 0px 0px #f7c5c0;
      -webkit-box-shadow   : inset 0px 1px 0px 0px #f7c5c0;
      box-shadow           : inset 0px 1px 0px 0px #f7c5c0;
      background           : -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
      background           : -moz-linear-gradient(top, #fc8d83 5%, #e4685d100%);
      background           : -webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
      background           : -o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
      background           : -ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
      background           : linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
      filter               : progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
      background-color     : #fc8d83;
      -moz-border-radius   : 6px;
      -webkit-border-radius: 6px;
      border-radius        : 6px;
      border               : 1px solid #d83526;
      color                : #ffffff;
      font-size            : 15px;
      font-weight          : bold;
      padding              : 6px 24px;
      text-decoration      : none;
      text-shadow          : 0px 1px 0px #b23e35;
      cursor               : pointer;
}

.btn-ing-por-amigo:hover
{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
    background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
    background-color:#e4685d;
}

.btn-ing-por-amigo:active
    position:relative;
    top:1px;
}
