
/* Fkechas Efecto ACtivo e Inactivo*/

.pasosPedido li.activo-2
{
			background: none repeat scroll 0 0 #003e90;/*#E8EEEE*/
			position  : relative;
}

.pasosPedido li.activo-2:after {
    border-color: rgba(232, 238, 238, 0) rgba(232, 238, 238, 0) rgba(232, 238, 238, 0) #003e90;/*#BBC6C8*/
}

.pasosPedido li.inactivo-1
{
   background-color: #9e9e9e;/*#BBC6C8*/
}
.pasosPedido li.inactivo-1:after {
    border-color: rgba(232, 238, 238, 0) rgba(232, 238, 238, 0) rgba(232, 238, 238, 0) #9e9e9e;/*#BBC6C8*/
}

.pasosPedido li.inactivo-3
{
   background-color: #cecece;/*#BBC6C8*/
}
.pasosPedido li.inactivo-3:after {
    border-color: rgba(232, 238, 238, 0) rgba(232, 238, 238, 0) rgba(232, 238, 238, 0) #cecece;/*#BBC6C8*/
}

/* Fkechas Efecto ACtivo e Inactivo*/

/* Paso 2 = seleccion de plan*/

.cont-tabla-planes
{
	  width: 80%;
	  margin: 20px auto;
}

/* Paso 2 = seleccion de plan*/
