 .contenedor_pagina
{
     width: 95%;
     margin: 0px auto;
}

#cont-selec-document
{
    padding-left: 7px;
}

#contnumero-nit
{
    padding-right: 0;
    margin-left: -6px;
}

.cont_pagina_registro
{
    display: block;
    width: 75%;
    margin: 0px auto;
    background: white;
    padding: 20px;

   -webkit-border-radius: 4px;
   -moz-border-radius   : 4px;
   -ms-border-radius    : 4px;
   -o-border-radius     : 4px;
   border-radius        : 4px;

   -webkit-box-shadow: 0px 8px 16px 0px #000000;
    box-shadow: 0px 8px 16px 0px #000000;
}

/* Diseño => lista => pasos */

#li_paso_1
{
     background: #003E90;
     color: white;
}

.cont-list-pasos
{
      display: block;
      text-align: center;
}

.li_pasos_registro
{
      display: inline-block;
      padding: 5px 10px;
      text-align: center;
      list-style: none;
      font-weight: bold;
      color: gray;

      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
}

/* diseño paso 1 */
#tipo-document
{
    width: 150px;
}

.text-label
{
    color: #003e90;
    float: left;
}

.label-nuemero-nit
{
     padding-left: 0px;
}

.seleccion-genero
{
    margin-top: 52px;
}

/* PAso 2 */

/* Diseño Tooltips */
.tooltip
{
    position:absolute;
    z-index:999;
    left:-9999px;
    background-color:#dedede;
    padding:3px;
    border:1px solid #fff;
    width:320px;
}

.tooltip p
{
    margin:0;
    padding:0;
    color:#fff;
    background-color:#222;
    padding:12px;
    font-size:12px;
 }

/* Paso 3 */

.titulo_del_plan
{
    color: #0469ed;
    display: block;
    margin-left: 100px;
}

.cont-plan
{
      width: 50%;
      margin: -10px auto;
}

.input_campo_datos
{
   text-transform: uppercase;
}

/*Campos Ocultos.campos-cedu-ciudadana ,*/

.campos-nit
{
   display:  none;
}

/* Ocultar plan seleccionado */
.plan_1{ display: block;}
.plan_2{ display: none;}
.plan_3{ display: none;}

/*Boton Continuar , Anterior*/

.cont-btn-bottom
{
     text-align: center;
     display: block;
     width: 30%;
     margin: 0px auto;
}

.btn-continuar
{
       background: #003e90;
       color:white;
}

.btn-continuar:hover
{
    color: white;
   background: #0469ed;
}

/* Diseño = BTN ANTERIOR */
.btn_volver ,
.btn-registrar-en-plan /* Diseño BTNS => paso 2  */
{
     -moz-box-shadow      : inset 0px 1px 0px 0px #f7c5c0;
    -webkit-box-shadow   : inset 0px 1px 0px 0px #f7c5c0;
    box-shadow           : inset 0px 1px 0px 0px #f7c5c0;
    background           : -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
    background           : -moz-linear-gradient(top, #fc8d83 5%, #e4685d100%);
    background           : -webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background           : -o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background           : -ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background           : linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    filter               : progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
    background-color     : #fc8d83;
    -moz-border-radius   : 6px;
    -webkit-border-radius: 6px;
    border-radius        : 6px;
    border               : 1px solid #d83526;
    color                : #ffffff;
    font-size            : 15px;
    font-weight          : bold;
    padding              : 6px 24px;
    text-decoration      : none;
    text-shadow          : 0px 1px 0px #b23e35;
    cursor               : pointer;

}

.btn_volver:hover ,
.btn-registrar-en-plan:hover  /* Diseño BTNS => paso 2  */
{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
    background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
    background-color:#e4685d;
}

.btn_volver:active
{
    position:relative;
    top:1px;
}

/* Diseño = BTN CONTINUAR */
.btn-continuar
{
    background: #0469ed; /* Old browsers */
    background: -moz-linear-gradient(top,  #0469ed 0%, #003e90 100%, #003e90 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0469ed), color-stop(100%,#003e90), color-stop(100%,#003e90));
    background: -webkit-linear-gradient(top,  #0469ed 0%,#003e90 100%,#003e90 100%);
    background: -o-linear-gradient(top,  #0469ed 0%,#003e90 100%,#003e90 100%);
    background: -ms-linear-gradient(top,  #0469ed 0%,#003e90 100%,#003e90 100%);
    background: linear-gradient(to bottom,  #0469ed 0%,#003e90 100%,#003e90 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0469ed', endColorstr='#003e90',GradientType=0 );
    -moz-border-radius   : 6px;
    -webkit-border-radius: 6px;
    border-radius        : 6px;
    border               : 1px solid  #072E60;
    color                :  ;
    font-size            : 15px;
    font-weight          : bold;
    padding              : 6px 24px;
    text-decoration      : none;
    text-shadow          : 0px 1px 0px #072E60;
    cursor               : pointer;
}

.btn-continuar:hover
{
    background: #003e90; /* Old browsers */
    background: -moz-linear-gradient(top,  #003e90 0%, #00ade2 0%, #003e90 0%, #0469ed 71%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003e90), color-stop(0%,#00ade2), color-stop(0%,#003e90), color-stop(71%,#0469ed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #003e90 0%,#00ade2 0%,#003e90 0%,#0469ed 71%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #003e90 0%,#00ade2 0%,#003e90 0%,#0469ed 71%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #003e90 0%,#00ade2 0%,#003e90 0%,#0469ed 71%); /* IE10+ */
    background: linear-gradient(to bottom,  #003e90 0%,#00ade2 0%,#003e90 0%,#0469ed 71%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003e90', endColorstr='#0469ed',GradientType=0 ); /* IE6-9 */
}

.btn-continuar:active
{
    position:relative;
    top:1px;
}








