
.vista-cambiar-password
{
      width: 40%;
      margin: 0px auto;
      padding: 10px;

     -webkit-border-radius: 4px;
     -moz-border-radius   : 4px;
     -ms-border-radius    : 4px;
     -o-border-radius     : 4px;
     border-radius        : 4px;


      -webkit-box-shadow: 0px 2px 5px #000000;
      -moz-box-shadow: 0px 2px 5px #000000;
      box-shadow: 0px 2px 5px #000000;
}

.titulo
{
	  color: #003e90;
}

.text-label
{
	  color: #003e90;
}

.conten-btn-guardar
{
	  text-align: center;
}

 /* Tooltip = Input-Codigo */
  .cuerpo_ventana_modal_codigo
  {
    position  :  absolute;
    background: #003E90;
    opacity   :0.9;
    width     : 245px;
    z-index   : 1000;
    top       : 165px;
    left      : 520px;
    padding   : 5px 10px;
    box-sizing: border-box ;
    color     : #fff;
    display   : none;
    font-size :12px;
    border    :1px solid #fff;


   /* Sombra */
   -webkit-box-shadow: 0px 1px 3px #000000;
   -moz-box-shadow   : 0px 1px 3px #000000;
   box-shadow        : 0px 1px 3px #000000;
  }

.pasos_contrasena_segura
{
	    display: block;
	    width: 80%;
	    margin: 0px auto;
}
