
/*Medios de pago*/

.cont-titulo-pagos
{

	 width:50%;
	 margin:0px auto;
	 min-width:200px;

}

.img-medios-pagos
{

   width:50%;
   margin:30px auto;
   text-align:center;
}

.img-pagos
{

   width:90%;
   margin:0px auto;
   min-width:200px;
}

/*Medios de pago*/

