
/*
_____ Estado cuenta dinero ,
      Estado de mi cuenta puntos _______
*/
.contenedor_estado_cuentas
{
	margin-bottom: -15px
}

.Estado-cuenta
{
	   font-size: 20px;
      text-align: center;
}

.saldos
{
	  font-size: 34px;
	  text-align: center;
}

/*
______ Cabezara de la tabla ________
*/
.cont-cabezera-tabla-dinero  ,
.cont-cabezera-tabla-puntos 
{
   display: block;
   padding-bottom: 2px;
   height: 25px;
}

.Cabezera-tabla  ,
.Cabezera-tabla-puntos 
{
	float: left;
	padding: 0px;
	height: 10px;
 
}
  
.cont-cabezera-tabla-dinero { border-bottom: 2px solid #009900; color : #009900;}
.cont-cabezera-tabla-puntos { border-bottom: 2px solid #ff6600; color : #ff6600;}  
/*
_______ Cuerpo de la tabla ________
*/

.cuerpo-tabla/* Cuerpo-tabla= scroll */
{
   overflow:auto;
   height:300px;
   display: block;
   padding: 0px;
   font-size: 11.2px;
}












