<!DOCTYPE html>
<html lang='es'>
  <head>
      <meta charset='UTF-8' />
      <title> </title>
  </head>

  <body>



        <div class="container"
             style="
                 display              : block;
                 margin               : 10px auto;
                 width                : 100%;
                 -moz-border-radius   : 8px;
                 -ms-border-radius    : 8px;
                 -o-border-radius     : 8px;
                 -webkit-border-radius: 8px;
                 border-radius        : 8px;
                 font-family          : arial;
                 padding              : 15px;
                 "><!-- contenedor de la pagina-- >


            <!--IMG = Logo TRON -->
                <div>
                    <a href="#tron#">
                      <img src="#logo#" class="img-responsive img-logo" style="text-decoration: none;
                                                                               border: none;"><!--Logo tron -->
                    </a>
                </div>
            <!--IMG = Logo TRON -->

            <!-- Titulo -->
                <div class="cont-titulo"
                     style="
                         display   : block;
                         width     : 100%;
                         text-align: center;
                         height    : 7px;">
                    <br><br>
                    <h4><p style="
                             color    : #003e90;
                             padding  : 0px
                             font-size: 22px ">Recomendación  de  #Nombre_Quien_Envia#</p></h4><br>
                </div>
            <!-- Titulo -->

            <!--imagen del producto -->
                <div class="cont-img-producto" style="
                                                  width: 40%;
                                                  float: left;
                                                  display: block;
                                                  margin: 0px;">
                   <a href="#Url#">
                       <img src="#Nombre_Imagen#" class="img-responsive img-prod-recomendado" style="text-decoration: none;
                                                                                                     border: none;" >
                   </a>
               </div>
            <!--imagen del producto -->

            <!--text-de la derecha -->
               <div><p clas="text-left" style="
                                          font-size: 18px
                                          text-align: justify
                                          display: block
                                          width: 60%;">Tu amigo <strong>#Nombre_Quien_Envia#</strong> te ha recomendado este producto que tal vez sea de tu interés.
                                          <br><br> presionando en la imagen  podrás ver sus detalles.
                                          </p>
               </div>
            <!--text-de la derecha -->

        <!--Pie Pagina -->
              <div style="
                     display: block;
                     width: 100%;">
                  #Pie_Pagina#
              </div>
        <!--Pie Pagina -->

        </div><!-- contenedor de la pagina-- >


  </body>

</html>
